.btn__img {
  width: 1rem;
}
.btn--primary {
  background: linear-gradient(0deg, var(--active-color), var(--gradient-color));
  border: none;
}
.btn > img {
  margin-right: 10px;
}

.btn--secondary {
  border-style: solid;
  border-color: var(--border-color);
  /* evtl hier auch die primary-color verwenden als border-color */
  background: transparent;
}

.btn {
  border-radius: 20px;
  font-size: 0.9rem;
  color: var(--primary-color);
  letter-spacing: 0.16px;
  padding: 10px 20px;
  display: flex;
  text-align: left;
  opacity: 1;
  align-items: center;
  min-width: 75px;
  justify-content: center;
}
