.playbtn {
  border-radius: 20px;
  font-size: 1.2rem;
  color: white;
  background: linear-gradient(0deg, #d9519d, #ed8770);
  border: none;
  padding: 10px 20px;
  display: flex;
  /* justify-content: space-around; */
  /* Das kann ich auch über img tag und margin gelöst werden s.u. */
  /* width: 100px; */
  /* Da noch kein Content da ist,
  sieht der Button ohne width blöd aus, 
  aber sobald der Content da ist, 
  passt er sich an das Eltern-Element an */
  align-items: center;
  min-width: 75px;
  justify-content: center;
}
.playbtn > img {
  margin-right: 10px;
}
