/* container */
.trackContainer {
  display: grid;
  grid-template-columns: auto 1fr auto;
  place-items: center;
}
.trackContainer :last-child {
  margin-right: 10px;
}
/* trackImg */
.albumIcon {
  grid-column-start: 1;
  width: 46px;
  height: 46px;
  margin: 10px;
  border-radius: 50%;
  border: 1px, solid, var(--border-color);
  object-fit: cover;
}

/* text */
.titleArtist {
  /* grid-column-start: 2; */
  display: flex;
  flex-direction: column;
  width: 100%;

  /* color noch in global.css einfügen! */
  /* artistcolor: foot-note: #595b68 */
  border-bottom: 1px solid #595b68;
  /* für die Linie ein weiteres div mit rackartist und playicon oder pseudo-element */
}

.titleArtist > h6 {
  color: var(--card-subtitle-color);
}

.titleArtist > * {
  margin: 5px;
}

/* playbutton */
.playIcon {
  grid-column-start: 3;

  background: transparent;
  border: none;
  /* outline:none */
}
