.trackContainer {
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.trackContainer :last-child {
  margin-right: 10px;
}

.trackContainer__albumIcon {
  grid-column-start: 1;
  width: 46px;
  height: 46px;
  margin: 10px;
  border-radius: 50%;
  border: 1px, solid, #ffffff57;
  object-fit: cover;
}

.trackContainer__div__text {
  grid-column-start: 2;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #a3a4ab;
  margin: 5px;
  /* color noch in global.css einfügen! */
  /* artistcolor: foot-note: #595b68 */
}

.trackContainer__div {
  border-bottom: 1px solid #595b68;
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.trackContainer__div__text--title {
  margin: 5px;
}

.trackContainer__playIcon {
  grid-column-start: 3;
  background: transparent;
  border: none;
  /* outline:none */
}
