<ul class="sidebar">
  <li>
    <button class="sidebar__btn">
      <img
        class="sidebar__icon--Display"
        src="../../assets/settingPage/displayColor.svg"
        alt="displayColor"
      />
      <span>Display</span>
    </button>
  </li>
  <li>
    <button class="sidebar__btn">
      <img
        class="sidebar__icon--Audio"
        src="../../assets/settingPage/audioColor.svg"
        alt="audioColor"
      />
      <span>Audio</span>
    </button>
  </li>
  <li>
    <button class="sidebar__btn">
      <img
        class="sidebar__icon--Headset"
        src="../../assets/settingPage/headsetColor.svg"
        alt="headsetColor"
      />
      <span>Headset</span>
    </button>
  </li>
  <li>
    <button class="sidebar__btn">
      <img
        class="sidebar__icon--Lockscreen"
        src="../../assets/settingPage/lockscreenColor.svg"
        alt="lockscreenColor"
      />
      <span>Lockscreen</span>
    </button>
  </li>
  <li>
    <button class="sidebar__btn">
      <img src="#" alt="#" />
      <span>Advanced</span>
    </button>
  </li>
  <li>
    <button class="sidebar__btn last--listItem">
      <img
        class="sidebar__icon--Other"
        src="../../assets/settingPage/otherColor.svg"
        alt="otherColor"
      />
      <span>Other</span>
    </button>
  </li>
</ul>
