<ul class="sidebar">
  <li>
    <button class="btn-sidebar">
      <img
        class="iconDisplay"
        src="../../assets/settingPage/displayColor.svg"
        alt="displayColor"
      />
      <span>Display</span>
    </button>
  </li>
  <li>
    <button class="btn-sidebar">
      <img
        class="iconAudio"
        src="../../assets/settingPage/audioColor.svg"
        alt="audioColor"
      />
      <span>Audio</span>
    </button>
  </li>
  <li>
    <button class="btn-sidebar">
      <img
        class="iconHeadset"
        src="../../assets/settingPage/headsetColor.svg"
        alt="headsetColor"
      />
      <span>Headset</span>
    </button>
  </li>
  <li>
    <button class="btn-sidebar">
      <img
        class="iconLockscreen"
        src="../../assets/settingPage/lockscreenColor.svg"
        alt="lockscreenColor"
      />
      <span>Lockscreen</span>
    </button>
  </li>
  <li>
    <button class="btn-sidebar">
      <img src="#" alt="#" />
      <span>Advanced</span>
    </button>
  </li>
  <li>
    <button class="btn-sidebar">
      <img
        class="iconOther"
        src="../../assets/settingPage/otherColor.svg"
        alt="otherColor"
      />
      <span>Other</span>
    </button>
  </li>
</ul>
