<div class="appLayout">
  <header class="settings">
    <img
      class="iconBurger"
      src="../../assets/icon-burger-menu.svg"
      alt="icon-burger-menu"
    />
    <h2 class="settings__Header">Settings</h2>
  </header>
  <main>add list</main>

  <footer>
    <nav class="navFooter">
      <button class="navFooter__Icons">
        <img
          src="../../components/bottomNav/navIcons/homeGrey.svg"
          alt="homeGrey"
        />
        <div>Home</div>
      </button>
      <button class="navFooter__Icons">
        <img
          src="../../components/bottomNav/navIcons/musicGrey.svg"
          alt="musicColor"
        />
        <div>Songs</div>
      </button>
      <button class="navFooter__Icons--Active navFooter__Icons">
        <img
          src="../../components/bottomNav/navIcons/settingsColor.svg"
          alt="settingsGrey"
        />
        <div>Settings</div>
      </button>
    </nav>
  </footer>
</div>
