<nav>
  <button class="btn btn-secondary">
    <img
      src="../../components/buttonNav/navIcons/homeGrey.svg"
      alt="homeGrey"
    />
    <span>Add to Favourites</span>
  </button>
  <button class="btn btn-primary">
    <img
      src="../../components/buttonNav/navIcons/musicColor.svg"
      alt="musicColor"
    />
    <span>Add to Favourites</span>
  </button>
  <button class="btn btn-secondary">
    <img
      src="../../components/buttonNav/navIcons/settingsGrey.svg"
      alt="settingsGrey"
    />
    <span>Add to Favourites</span>
  </button>
</nav>
