<nav>
  <button class="navIcons">
    <img
      src="../../components/buttonNav/navIcons/homeGrey.svg"
      alt="homeGrey"
    />
    <p>Home</p>
  </button>
  <button class="navActive navIcons">
    <img
      src="../../components/buttonNav/navIcons/musicColor.svg"
      alt="musicColor"
    />
    <p>Songs</p>
  </button>
  <button class="navIcons">
    <img
      src="../../components/buttonNav/navIcons/settingsGrey.svg"
      alt="settingsGrey"
    />
    <p>Settings</p>
  </button>
</nav>
