nav {
  display: flex;
  position: fixed;
  bottom: 0px;
  /* align-items: flex-end; */
  justify-content: space-around;
  width: 100vw;
  align-content: center;
  border-top: solid 1px grey;
  left: 0px;
  padding: 10px 0;
}

.navIcons {
  border: none;
  background-color: transparent;
  color: #63666e;
  padding-top: 10px;
}

.navActive {
  color: #d9519d;
  border: none;
}

img {
  width: 1.7rem;
}
