.navFooter {
  display: flex;
  position: fixed;
  bottom: 0px;
  justify-content: space-around;
  width: 100vw;
  padding: 10px 0;
  box-shadow: -5px -5px 10px black;
}
.navFooter__Icons {
  border: none;
  background-color: transparent;
  color: var(--bottom-nav-color);
  /* padding-top: 10px; */
}

.navFooter__Icons--Active {
  color: var(--active-color);
  border: none;
}

.settingsIcon,
.musicIcon,
.homeIcon {
  width: 20px;
  height: 20px;
}
