<nav class="footer">
  <button class="navIcons">
    <img
      src="../../components/bottomNav/navIcons/homeGrey.svg"
      alt="homeGrey"
    />
    <div>Home</div>
  </button>
  <button class="navActive navIcons">
    <img
      src="../../components/bottomNav/navIcons/musicColor.svg"
      alt="musicColor"
    />
    <div>Songs</div>
  </button>
  <button class="navIcons">
    <img
      src="../../components/bottomNav/navIcons/settingsGrey.svg"
      alt="settingsGrey"
    />
    <div>Settings</div>
  </button>
</nav>
