.settings {
  display: grid;
  grid-template-columns: 55px 1fr 1fr 1fr 55px;
}

.iconBurger {
  display: grid;
  width: 25px;
  height: 16px;
  grid-column-start: 1;
  margin-top: 14px;
  margin-left: 10px;
}
.settingsHeader {
  display: grid;
  grid-column-start: 3;
  text-align: center;
}
