.settings {
  display: grid;
  grid-template-columns: 55px 1fr;
}

.iconBurger {
  display: grid;
  width: 25px;
  height: 16px;
  grid-column-start: 1;
  margin-top: 7px;
  margin-left: 7px;
}
.settingsHeader {
  display: grid;
  grid-column-start: 2;
  text-align: center;
}
