@import url("//db.onlinewebfonts.com/c/9475d6a0b79c164f9f605673714e75d9?family=Circular+Std+Medium");
@import url("//db.onlinewebfonts.com/c/860c3ec7bbc5da3e97233ccecafe512e?family=Circular+Std+Book");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --primary-color: #c1c0c0;
  --active-color: #d9519d;
  --gradient-color: #ed8770;
  --bottom-nav-color: #63666e;
  --card-subtitle-color: #c1c0c0;
  --card-title-color: #eeeeee;
  --border-color: #ffffff57;
}

html {
  font-size: 16px;
  background-color: #181b2c;
  color: #a3a4ab;
}

body {
  /* font-family: "Circular Std Medium"; */
  font-family: "Circular Std Book";
  margin: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;

  font-family: "Circular Std Medium", sans-serif;
}
