@import url(//db.onlinewebfonts.com/c/9475d6a0b79c164f9f605673714e75d9?family=Circular+Std+Medium);

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background-color: #383b49;
  color: #ffffff;
}

body {
  font-family: "Circular Std Medium", sans-serif;

  margin: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;

  font-family: "Circular Std Medium", sans-serif;
}
